@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background: url('./images/background.jpg') no-repeat center center fixed;
  line-height: 1.5;
  font-family: 'Playfair Display', serif;
}

h1 {
  text-align: center;
  font-size: 2.4rem;
  margin: 2rem 0;
  color: #aa2709;
}

h2 {
  text-align: center;
  font-size: 2.2rem;
}

h3 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 20px 0;
}

p {
  font-size: 1.5rem;
  max-width: 65ch;
}

.App {
  text-align: center;
}

.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2%;
}

.post {
  width: 90%;
  max-width: 600px;
  padding: 20px 5%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  opacity: 0.6;
}

.btn-wrapper {
  display: flex;
  width: 35%;
  justify-content: space-between;
  margin-top: 10px;
}

.btn {
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  text-decoration: underline;
}
